.main-layout-wrapper {

	--animation-start-settings: .4s ease 1 .5s forwards;
	background: var(--bg-color);
	min-height: 100vh;

	& main {
		background-color: var(--bg-color-second);
		padding: 80px 0;
		position: absolute;
		animation: start-animation-main var(--animation-start-settings);
		width: 100%;
		height: 160px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 80;
		overflow-y: hidden;

		& .animate-background {
			height: 100%;
		}
	}

	& footer, header {
		position: fixed;
		width: 100%;
		z-index: 90;

		& .footer-content-wrapper, .header-content-wrapper {
			background-color: var(--main-green);
			height: 80px;
			position: relative;

			& .footer-content, .header-content {
				background-color: var(--bg-color);
				clip-path: var(--widget-polygon);
				position: absolute;
				inset: 1px;
				display: flex;
			}

			& .footer-content {
				align-items: center;
				justify-content: center;
			}

			& .footer-content::after, .header-content::after {
				content: "";
				z-index: 100;
				box-shadow: none;
				animation: widget-content-after-animation var(--animation-start-settings);
				position: absolute;
				inset: 0;
				background: transparent;
				pointer-events: none;
			}

			& .header-content {
				clip-path: var(--widget-header-polygon);
			}

			& .footer-content {
				clip-path: var(--widget-footer-polygon);
			}
		}

		& .header-content-wrapper {
			clip-path: var(--widget-header-polygon);
			bottom: -20px;
		}

		& .footer-content-wrapper {
			clip-path: var(--widget-footer-polygon);
			top: -20px;
		}

	}

	& header {
		box-shadow: none;
		animation: start-animation-header var(--animation-start-settings);
		top: calc(50% - 100px);
	}

	& footer {
		box-shadow: none;
		animation: start-animation-footer var(--animation-start-settings);
		bottom: calc(50% - 100px);
	}
}

@keyframes widget-content-after-animation {
	0% {
		box-shadow: none;
	}

	100% {
		box-shadow: inset 0 0 19px -4px #00c85375;
	}
}

@keyframes start-animation-main {
	0% {
		height: 160px;
	}

	100% {
		height: 100vh;
	}
}

@keyframes start-animation-header {
	0% {
		top: calc(50% - 100px);
		box-shadow: none;
	}

	100% {
		top: -20px;
		box-shadow: 0 52px 45px -35px #00c85375;
	}
}

@keyframes start-animation-footer {
	0% {
		bottom: calc(50% - 100px);
		box-shadow: none;
	}

	100% {
		bottom: -20px;
		box-shadow: 0 -52px 45px -35px #00c85375;
	}
}